<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QUAVS.GS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QUAVS.GS.Properties.Settings>
            <setting name="VideoSource" serializeAs="String">
                <value>Microsoft LifeCam VX-5000</value>
            </setting>
            <setting name="VideoCompressor" serializeAs="String">
                <value>MJPEG Compressor</value>
            </setting>
        </QUAVS.GS.Properties.Settings>
    </userSettings>
    <system.diagnostics>
      <trace useGlobalLock="false" autoflush="true" indentsize="1">
        <listeners>
          <!--<add name="TraceLogFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="quavs_gs.txt"/>-->
          <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
          <remove name="Default" />
        </listeners>
      </trace>
    </system.diagnostics>
</configuration>