<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QUAVS.GS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <!--<system.diagnostics>
      <switches>
        <add name="QUAVS.GS" value="Verbose"/>
      </switches>
      <trace useGlobalLock="false" autoflush="true" indentsize="1">
        <listeners>
          <add name="TraceLogFile" type="QUAVS.Base.TextWriterTraceListener, QUAVS.Base.TextWriterTraceListener"  traceOutputOptions="None" initializeData="quavs_gs.txt"/>
          <remove name="Default" />
        </listeners>
      </trace>
    </system.diagnostics>-->
    <userSettings>
        <QUAVS.GS.Properties.Settings>
            <setting name="HUDAlpha" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="VideoHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="VideoWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="VideoFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="HUDColor" serializeAs="String">
                <value>Lime</value>
            </setting>
        </QUAVS.GS.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
