<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.diagnostics>
      <trace useGlobalLock="false" autoflush="true" indentsize="1">
        <listeners>
          <!--<add name="TraceLogFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="quavs_gs.txt"/>-->
          <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
          <remove name="Default" />
        </listeners>
      </trace>
    </system.diagnostics>
</configuration>