<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QUAVS.GS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
      <trace useGlobalLock="false" autoflush="true" indentsize="1">
        <listeners>
          <!--<add name="TraceLogFile" type="System.Diagnostics.TextWriterTraceListener" initializeData="quavs_gs.txt"/>-->
          <add name="Console" type="System.Diagnostics.ConsoleTraceListener"/>
          <remove name="Default" />
        </listeners>
      </trace>
    </system.diagnostics>
    <applicationSettings>
        <QUAVS.GS.Properties.Settings>
            <setting name="MapType" serializeAs="String">
                <value>GoogleHybrid</value>
            </setting>
        </QUAVS.GS.Properties.Settings>
    </applicationSettings>
</configuration>